In [5]:
hello = 'hello' 
world = 'world'
print(hello)
print(world)
print(len(hello))
hw = hello + " " + world
print(hw)
name = "Natheer"
final_string = hw +f'{name}. welcome'

print(final_string)

hello
world
5
hello world
hello worldNatheer. welcome

In [12]:
xs = [3,1,2]
print(xs)
print(type(xs))
print(xs[0])
print(xs[-1])
xs[2] =10
xs.append(20)
print(xs)
x= xs.pop()
print(xs)

[3, 1, 2]
<class 'list'>
3
2
[3, 1, 10, 20]
[3, 1, 10]

In [18]:
nums = list(range(5))
print(nums)
print(nums[:3])
print(nums[2:4])
print(nums[2:])
nums[2:4] =[8,9]
print(nums)

[0, 1, 2, 3, 4]
[0, 1, 2]
[2, 3]
[2, 3, 4]
[0, 1, 8, 9, 4]

In [19]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)
# Prints "cat", "dog", "monkey", each on its own line.

cat
dog
monkey

In [22]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal+ " is a nice animal")

cat is a nice animal
dog is a nice animal
monkey is a nice animal

In [25]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print(f"index: {idx}, animal: {animal}")
    if idx == 1:
        print("I am 1")

index: 0, animal: cat
index: 1, animal: dog
I am 1
index: 2, animal: monkey

In [32]:
nums = [0,1,2,3,4]
squares = []
for x in nums:
        if x % 2 ==0:
            x=x**2
            squares.append(x)

print(nums)
print(squares)

[0, 1, 2, 3, 4]
[0, 4, 16]

In [31]:
nums = list(range(5))
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

In [34]:
nums = list(range(5))
squares = [x ** 2 for x in nums if x % 2 ==0 ]
print(squares)

[0, 4, 16]

In [38]:
d = {'cat': 'cute', 'dog': 'furry'} 
print(d['cat'])
print('cat' in d)
print(d.get("monkey", "Not exisit"))

cute
True
Not exisit

In [40]:
nums = [0,1,2,3,4]
squared = {x:x**2 for x in nums}
print(squared)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [41]:
nums = [1,1,1,1,1,1,2,2,2,2,2,4,4,4,4,6,6,6,6,8,8,8]
set(nums)

{1, 2, 4, 6, 8}